{% extends 'patients/base.html' %}
{% block 'table' %}
    <table class="table">
        <thead class='bg-primary'>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Dieases Name</th>
                <th scope="col">Hospital Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
    </table>
{% endblock 'table' %}